@import "styles/variables";
@import "styles/components/mixin/mixin";

.formGroup {
  position: relative;

  .invalid {
    border-color: $danger;
    @include rounded(0.25rem);
    @include box-shadow-important($input-shadow-error);
  }

  .formControl {
    width: 100%;
    border: 1px solid darken($gray-light, 70);
    padding: 0.4rem 0.6rem;
    outline: none;
    @include rounded(0.25rem);
    transition: outline-color, border-color, box-shadow 0.2s;
    @include focus {
      border-color: lighten($blue, 30%);
      @include box-shadow($input-shadow-1);
    }

    &.formControlSm {
      height: 28px;
      padding: 0.2rem 0.4rem;
      font-size: 0.9rem;
    }

    &.formControlLg {
      height: 48px;
      padding: 0.7rem 1rem;
    }
  }

}
