@import "styles/variables";
@import "styles/components/mixin/mixin";


.formGroup {
  position: relative;


  .invalid {
    padding-right: calc(1.5em + 0.75rem);

    &::after {
      float: right;
      content: "\f06a";
      font-size: larger;
      font-family: $font-awesome-regular;

      @include generate-color(color, $danger);

    }

    border-color: $danger;
    @include box-shadow-important($input-shadow-error);

    i {
      top: auto !important;
      @include transform(translateY(50%) !important);
    }
  }

  .actived {
    border-color: lighten($pink, 30%);
    @include box-shadow($input-shadow-1);
  }

  .formControl {
    cursor: pointer;
    margin-top: 0.1rem;
    @include flex-position(y, center, row, inline-flex);
    //padding: 0.4rem 0.6rem;
    outline: none;
    border: none;

    &.formControlSm {
      height: 28px;
      padding: 0.2rem 0.4rem;
      font-size: 0.9rem;
    }

    &.formControlLg {
      height: 48px;
      padding: 0.7rem 1rem;
    }
  }

  .formSelectMultiple {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    transition: 0.2s;

    > i {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(50%);
      pointer-events: none;
      @include transition(0.2s);
    }

    > .dropdown {
      transform: translateY(-50%);
    }

    background: $white;
    border: 1px solid darken($gray-light, 70);
    @include rounded(0.25rem);

    .tag {
      display: inline-block;
      border-radius: 0.4rem;
      text-align: center;
      white-space: nowrap;
      padding: 0.1rem 0.7rem;
      margin: 0 0 0.1rem 0.5rem;


      @include generate-color(color, $white);
      @include generate-color(background, #ca51d2);
      @include flex-position(y, center, row, inline-flex);

      button {
        background: none;
        border: 0;
        padding: 1px 2px;

        i {
          padding-left: 2px;
        }
      }
    }

    + ul.selectDropDown {
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      z-index: 1307;
      width: 100%;
      top: 115%;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      list-style-type: none;
      border: 1px solid darken($gray-light, 15);
      padding-inline-start: 0;
      @include rounded(0.25rem);
      @include transition(0.2s);
      @include box-shadow($box-shadow-1);
      @include generate-color(background, $white);

      &.active {
        top: 105%;
        visibility: visible;
        pointer-events: visible;
        opacity: 1;
      }

      ul {
        list-style-type: none;
        padding-inline-start: 0;
      }

      li {
        padding: 0.5rem 0.5rem;
        cursor: pointer;

        > input[type="checkbox"] {
          margin-left: 10px;
          cursor: pointer;
        }

        @include transition(0.2s);

        @include hover {
          @include generate-color(color, $pink);
        }

        &[disabled] {
          cursor: no-drop;
          @include generate-color(color, $blue-dark, lighten, 50%);
        }
      }
    }
  }

}
