@import "styles/variables";
@import "styles/components/mixin/mixin";

.tableInner {
  //display: flex;
  //justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.table {
  table-layout: fixed;
  text-align: center;
  width: auto;
  padding: 1rem;
  border-collapse:separate;
  border-spacing:0 1rem;
  //margin-right: 170px;

  //display: block;
  //overflow-x: auto;
  white-space: nowrap;

  thead {
    color: #64748d;
    //font-weight: bolder;
    font-size: large;
    th {
      font-size: .85em;
      text-transform: uppercase;
    }
  }
  th,
  td {
    padding: .625em;
    width: 200px;
    text-align: center;
    button {
      margin: 0 1rem;

      position: relative;
      top: 0;
      cursor: pointer;
      //padding: 0.5rem;
      //font-size: 1.2rem;
      @include transition(0.2s);
      @include hover {
        top: -2px;
        @include generate-color(color, $pink)
      }
    }
    //overflow: hidden;
    //white-space: nowrap;
  }
  tbody {
    //display: table;
    //width: 100%;

    //td {
    //  padding: 2rem;
    //}
    tr td:first-child { border-top-right-radius: 10px; }
    tr td:first-child { border-bottom-right-radius: 10px; }
    tr td:last-child { border-top-left-radius: 10px; }
    tr td:last-child { border-bottom-left-radius: 10px; }
    tr {
      border: 0;
      >td {
        color: #4a4b70;
        padding: 1rem;
        i {
          margin: 0 1rem;
          cursor: pointer;
        }
      }
      @include rounded(1rem);
      @include box-shadow(rgba(0, 0, 0, 0.1) -4px 9px 25px -6px);
      justify-content: center;
      @include generate-color(background, $white);
    }
  }

}

.add {
  width: 100%;
  position: fixed !important;
  margin: auto !important;
  //right: 20px;
  //left: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  top: auto !important;
  height: auto !important;
  @include generate-color(background, $white);
  //left: 10px;
  //right: 10px;
  button {
    width: 100% !important;
  }
}


.mobileTable {
  @extend .table;
  width: 100%;
  white-space: initial;
  border-collapse:separate;
  border-spacing:0 1rem;
  border: 0;
  padding: 0;
  tr td:first-child { border-top-right-radius: 0 !important; }
  tr td:first-child { border-bottom-right-radius: 0 !important; }
  tr td:last-child { border-top-left-radius: 0 !important; }
  tr td:last-child { border-bottom-left-radius: 0 !important; }

  thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  th, td {
    width: auto;
  }
  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  td:last-child {
    border-bottom: 0;
  }
}


//.loading {
//  display: grid;
//  place-items: center;
//  text-align: center;
//  width: 100%;
//  margin-right: 100%;
//}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loading {
  //display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
}

.pagination {
  outline: 0;
  border: 0;
  width: 6rem;
  margin: 10px;
  height: 3rem;
  text-align: center;
  @include rounded(0.5rem);
  @include box-shadow(-4px 9px 25px -6px rgb(0 0 0 / 10%))
}

.paginationMobile {
  outline: 0;
  border: 0;
  width: 70%;
  margin: 10px;
  height: 3rem;
  text-align: center;
  @include rounded(0.5rem);
  @include box-shadow(-4px 9px 25px -6px rgb(0 0 0 / 10%))
}

.field {
  display: block;
  margin: 1.5rem 0;
  text-align: right;
  width: 100%;
  padding: 0 0.3rem;
  pre {
    font-size: larger;
  }
}

.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@keyframes loadData {
  to {
    transform: rotateZ(360deg);
  }
}


.dataLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: grid;
  place-items: center;
  align-items: center;
  z-index: 1000;
  @include generate-color(background, $blue-dark);
  opacity: 0.5;

  div {
    padding: 2rem;
    color: white;
    border-radius: 3rem;
    position: relative;
    //border-top: 6px solid $primary;
    //border-left: 6px solid $primary;
    //border-right: 6px solid $primary;
    //border: 3px solid $white;
    span {
      position: absolute;
      border-top: 6px solid $primary;
      border-left: 10px solid $primary;
      border-right: 3px solid $primary;
      border-bottom: 5px solid $primary;
      text-align: center;
      border-radius: 20rem;
      //animation: 2s infinite forwards loadData !important;
      animation-name: loadData;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: inherit;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      //width: 100%;
      //height: 100%;
      left: 0;
      right: 0;
      top: -10px;
      bottom: 0;
      z-index: 1003;
    }
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

  i {
    font-size: larger;
    padding: 20px;
    cursor: pointer;
  }
  i:hover {
    background: darken($white, 10%);
  }
}

@keyframes activate-changes {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}


@keyframes activate-changes-mobile {
  from {
    transform: translateY(200%) translateX(-50%);
  }
  to {
    transform: translateY(0%) translateX(-50%);
  }
}

.popup {
  position: fixed;
  z-index: 1;

  //position: absolute;
  left: 2rem;
  bottom: 10px;

  &.mobile {
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    bottom: 80px;
    animation-name: activate-changes-mobile;
  }

  //top: 90%;
  //transform: translateY(100%);
  text-align: center;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include generate-color(background, $white);
  @include rounded(0.5rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation-name: activate-changes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  padding-right: 35px;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;



    .close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      cursor: pointer;
    }

    button {
      width: 3rem;
      //margin: 0 10px;
      margin-right: 10px;
    }
  }

}
