@import 'styles/variables';

.alert {
  border-radius: 0.3rem;
  padding: 1rem;
}

.info {
  background-color: #e9f5fb;
  color: #5cb7e4;
}

.danger {
  background-color: $danger-light;
  color: $danger;
}

.success {
  background-color: $success-light;
  color: $success;
}

.warning {
  color: $warning;
  background-color: $warning-light;
}