@import "styles/variables";

.button {
  margin-top: 33px;
}


.info {
  margin-top: -15px;
}

.tab {
  margin: -15px;
  height: 36px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid darken($gray-light, 10);

  > i {
    color: $primary;
    --fa-secondary-opacity: 0.3;
  }

  > div {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;

    > i {
      color: $primary;
      --fa-secondary-opacity: 0.3;
    }

    &.active {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: pulse 1s ease infinite;
        border-radius: 50%;
        border: 2px solid #cfe3fa;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}


.container {

  .alert {
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    padding: 1rem 10px 1rem 1rem;
    background-color: #d1d8fe;
    border: 1px solid #91aecc;
    color: #004085;
    margin: 10px 0;

    &.exiting {
      opacity: 0;
    }

    > i {
      width: 25px;
      height: 25px;
      padding: 0 7px;
      background-color: $white;
      display: grid;
      place-items: center;
      border-radius: 100%;
      cursor: pointer;
      margin-left: 10px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $gray-light;

      }
    }
  }

  > .content {
  }
}

.sticky {
  z-index: 1;
  width: 100%;
  position: fixed !important;
  margin: auto !important;
  //right: 20px;
  //left: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  top: auto !important;
  height: auto !important;
  background: $white;
  //left: 10px;
  //right: 10px;
  button {
    //width: 100% !important;
    margin-right: auto;
  }

  .error::after {
    position: absolute;
    left: 0.35rem;
    content: "\f06a";
    font-size: larger;
    font-family: $font-awesome-regular;
    top: 50%;
    transform: translateY(-50%);

    color: $danger;
  }

  .errorLeft::after {
    position: absolute;
    right: 0.35rem;
    content: "\f06a";
    font-size: larger;
    font-family: $font-awesome-regular;
    top: 50%;
    transform: translateY(-50%);

    color: $danger;
  }
}
