@import "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 10px;

  .bold {
    font-weight: 550;
    font-size: 12px;
  }

  .content {
    font-weight: 400;
    font-size: 12px;
  }


  .comment {
    //border: 1px solid $gray-light;
    background: #d6daff47;
    //color: $black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    margin-right: auto;
    word-break: break-all;

    .profile {
      display: flex;
      align-items: center;
      > img {
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
    }

    &.user {
      background: $gray-light;
    }

    > .actions {
      text-align: left;
      > i {
        cursor: pointer;
      }
    }
  }
}

.replyComment {
  @extend .comment;
  background: none !important;
  padding: 0 !important;

}

.hasReply {
  border-top: 1px dashed $black;
  margin: 1rem 0;
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 0;

  border: 1px dashed $black;

  i {
    cursor: pointer;
  }
}

.footer {
  height: 100%;
  > div {

    position: sticky;
    top: 20px;
    background: $gray-light;
    height: fit-content;

    border-radius: 7px;
    padding: 10px;
    textarea {
      //resize: none;
    }
  }


  .button {
    margin-bottom: 1rem;
    padding: 10px 20px;
    margin-right: auto;
  }
}