@import "styles/variables";


.card {
  background: $gray-light;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: darken($gray-light, 10);
  }
}