@import "styles/variables";
@import "styles/components/mixin/mixin";


.container {
  //height: 100%;

  > .formControl {
    position: relative;
    height: 40px;

    > .close {
      color: gray;
      position: absolute;
      left: 8rem;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      display: grid;
      place-items: center;
      pointer-events: auto;
      border-radius: 50%;
      transition: 0.2s;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        background-color: #d0d0d0;
      }
    }

    > .now {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      //transform: translateY(20%);
      cursor: pointer;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;


      @include transform(translateY(-50%));
      @include rounded(25px);
      @include generate-color(background, $primary);
      @include generate-color(color, $white);
    }

    > input {
      height: 100%;
      width: 100%;
      border: 1px solid darken($gray-light, 70);
      cursor: pointer;
      padding: 0.4rem 0.6rem 0.4rem 30px;
      outline: none;
      @include rounded(0.25rem);
      @include transition(0.2s);
      @include focus {
        border-color: lighten($blue, 30%);
        @include box-shadow($input-shadow-1);
      }

      &.formControlSm {
        height: 28px;
        padding: 0.2rem 0.4rem;
        font-size: 0.9rem;
      }

      &.formControlLg {
        height: 48px;
        padding: 0.7rem 1rem;
      }
    }
    > .dropDown {
      position: fixed;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      z-index: 1307;
      right: 0;
      left: 0;
      //width: 100%;
      bottom: -100%;
      border: 1px solid darken($gray-light, 70);
      padding: 0.3rem 0;

      &.active {
        bottom: 0;
        visibility: visible;
        pointer-events: visible;
        opacity: 1;
      }

      &.top {
        top: -340px;
        &.active {
          top: -355px;
          visibility: visible;
          pointer-events: visible;
          opacity: 1;

        }
      }

      > .nav {
        text-align: center;
        margin-bottom: 10px;

        @include flex-position(x, space-between);

        > button {
          display: flex;
          align-items: center;
          width: 100%;

          @include hover {
            @include generate-color(background, lighten($purple, 10));
            @include generate-color(color, $white);
          }
        }
      }

      > .calendar {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
        > .header {
          margin-bottom: 10px;
          align-items: center;
          //margin: 0 auto 10px auto;
          @include flex-position(x, space-between);

          > .action {
            > i {
              padding: .5rem .8rem;
              @include rounded(50%);
              @include transition(background 0.2s linear);
              @include hover {
                cursor: pointer;
                @include generate-color(background, $gray-light);
              }
            }

            @include generate-color(color, #5f6368);
          }
        }

        > .body {
          display: table;
          table-layout: fixed;
          min-width: 300px;
          margin: auto;
          text-align: center;

          > div {
            height: 35px;
            display: flex;
            justify-content: space-between;

            > .today {
              @include generate-color(background, lighten(gray, 20));
              @include generate-color(color, $white);

              @include hover {
                @include generate-color(background, lighten($purple, 15))
              }
            }

            > .active {
              @include generate-color(background, $purple);
              @include generate-color(color, $white);

              @include hover {
                @include generate-color(background, lighten($purple, 25))
              }
            }

            > span {
              width: 35px;
              height: 35px;
              //display: table-cell;
              display: grid;
              place-items: center;
              font-size: 12px;
              font-weight: 600;
              vertical-align: middle;
              color: #70757a;

              @include rounded(50%);
              @include transition(background 0.2s linear);

              @include hover {
                cursor: pointer;
                @include generate-color(background, $gray-light);
              }

              &[aria-disabled] {
                @include hover {
                  cursor: auto;
                  background: transparent;
                }
              }
            }
          }

          > .tableHeader {
            > span {
              font-size: 10px;
              font-weight: 500;
            }
          }
        }
      }

      border-radius: 1.5rem 1.5rem 0.25rem 0.25rem;
      //@include transition(0.2s);
      transition: 0.5s ease;
      @include box-shadow($box-shadow-1);
      @include generate-color(background, $white);
    }
  }

}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease;
  background: black;

  &.focused {
    opacity: 0.3;
    pointer-events: auto;
    visibility: visible;
  }
}