@import './variables';
@import 'components/mixin/mixin';
@import './fonts';
@import './globals';
@import "./packages/ckeditor";
@import "./packages/jodit";
@import "./tooltip";

*, ::after, ::before {
  box-sizing: border-box;
  color: inherit;
}

:root {
  font-size: 16px;
}

//
//* {
//  font-family: $main-FD-font, Arial;
//}

html {
  font-family: $main-FD-font, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: $main-FD-font, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  direction: rtl;
  color: $blue-dark;
  @include generate-color(background, $main-bg);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

small {
  font-size: 80%;
  font-weight: 400;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

ol,
ul,
dl {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.grecaptcha-badge {
  left: -500px !important;
  right: initial !important;
}
