@font-face {
  font-family: "IRANSans-Medium";
  src: url("../public/assets/fonts/IRANSansWeb_FaNum_Medium.ttf");
}
@font-face {
  font-family: "IRANSans-bold";
  src: url("../public/assets/fonts/IRANSansWeb(FaNum)_Bold.woff");
}
@font-face {
  font-family: "IRANSans-Regular";
  src: url("../public/assets/fonts/IRANSansWeb(FaNum).ttf");
}
@font-face {
  font-family: "IRANSans-Medium-EnNum";
  src: url("../public/assets/fonts/IRANSansMedium.ttf");
}
@font-face {
  font-family: "IRANSans-Regular-EnNum";
  src: url("../public/assets/fonts/IRANSans Regular.ttf");
}