@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .size-11px {
    @apply text-[0.69rem]
  }
}

@layer components {

  .header-item {
    @apply font-light font-shabnam-normal text-sm before:content-['']  before:invisible  before:opacity-0  before:transition-all before:duration-500
    hover:before:absolute hover:before:bottom-0 hover:before:h-0.5 hover:before:w-full hover:before:bg-blue-c200  hover:text-blue-c200
    hover:font-shabnam-bold hover:before:visible hover:before:opacity-100

  }

  .mobile-header-item {
    @apply font-light font-shabnam-normal text-sm transition-all duration-500 hover:text-blue-c200 hover:font-shabnam-bold
  }

  .header-item-parent {
    @apply relative py-[20px]
  }

  .sub-header-item {
    @apply py-[15px] pr-[20px] pl-[35px] hover:bg-blue-c50 block whitespace-nowrap
  }

  .sub-header-menu {
    @apply py-[15px] pr-[20px] pl-[35px] hover:text-blue-c100 block whitespace-nowrap
  }

  .sub-header-parent {
    @apply absolute top-[40px] right-[20px] bg-white text-black py-[7px] rounded-[5px] w-full lg:top-[60px]
  }

  .green-box {
    width: 100%;
    height: 100%;
    z-index: -1;

    @apply rounded-tr-[30px] rounded-bl-[30px] text-white px-[35px] lg:px-[25px] lg:flex md:block justify-between mt-[55px]
  }

  .larg-greenBox {
    background: linear-gradient(110deg, #88BE1F 62%, #019F44 45%, #019F44 100%);
  }

  .small-greenBox {
    background: linear-gradient(110deg, #88BE1F 35%, #019F44 60%);
  }

  .category-item {
    @apply relative
    py-[15px] px-[20px] lg:pr-[35px] lg:pl-[65px]  md:py-[15px] md:pl-[30px] md:pr-[20px]
    bg-gradient-to-r from-blue-c100 to-blue-c200 rounded-[24px]
    font-shabnam-normal-digit lg:text-[22px] lg:text-[24px]  text-[20px] text-white
    hover:to-blue-c100
  }

  .transitions {
    @apply transition-all duration-500 ease-in-out
  }

  .category-svg {
    @apply absolute left-[8px] sm:left-[15px] bottom-[10px] md:left-0 md:bottom-[-13px] lg:bottom-0
  }

  .home.swiper-pagination {
    .swiper-pagination-bullet {
      background-color: white;
    }

    .swiper-pagination-bullet-active {
      width: 15px !important;
      border-radius: 5px;
    }
  }

  .swiper-pagination.product-pagination {
    .swiper-pagination-bullet-active {
      width: 15px !important;
      border-radius: 5px;
      background-color: #2F2F2F;
    }
  }

  .swiper-pagination.home-pagination {
    bottom: 20px;

    .swiper-pagination-bullet-active {
      width: 15px !important;
      border-radius: 5px;
      background-color: white;
    }
  }

  .thumbSwiperTransform {
    transform: translate3d(-15px, 0px, 0px);
  }

  .lg-thumbSwiperTransform {
    transform: translate3d(-45px, 0px, 0px) !important;
  }

  .twoXl-thumbSwiperTransform {
    transform: translate3d(-50px, 0px, 0px) !important;
  }

  .w60 {
    width: 60px !important;
  }

  .w82 {
    width: 82px !important;
  }

  .w100 {
    width: 100px !important;
  }

  .ml-thumbs {
    margin-left: 10px !important;
  }

  .bg-position {
    background-position-x: 3%;
    background-position-y: center;
  }

  input.custom-input-label:checked + label {
    color: #0078C8;
  }

  .inputParent {
    &:focus-within {
      border: 1px solid #0078C8;
    }
  }

  .bg-green-gradiantPattern {
    background-image: url('/images/bg-pattern-search.png'), linear-gradient(to right, #019F44, #88BE1F);
  }

  .keyboard-btn {
    @apply
    bg-white
    rounded-[10px]
    ml-[3px]
    md:w-[43px]
    md:h-[43px]
    w-[38px]
    h-[38px]
    mb-[5px]
    focus:bg-blue-c200
    focus:text-white
    transition-all
  }

  .bg-gray-gradiantPattern {
    background-image: url('/images/bg-pattern-search.png'), linear-gradient(to right, #E6E6E6, #979797);
  }

  #toast-container{
    font-family: shabnamFa;
  }

}

@layer base {
  .dir-right {
    direction: rtl;
  }

  .dir-left {
    direction: ltr;
  }

  .input-nonOutline {
    outline: 0;
  }

  .pos-inherit {
    position: inherit;
  }

  .h-inherit {
    height: inherit;
  }

  .w-inherit {
    width: inherit;
  }

  .whitespace-initial {
    white-space: initial;
  }

  .letter-spacing-2 {
    letter-spacing: 2px;
  }

  .position-unset {
    position: unset;
  }

  .right-unset {
    right: unset;
  }

  .d-inherit {
    display: inherit;
  }

  /*shabnam fonts*/
  @font-face {
    font-family: 'shabnamBold';
    src: url("/assets/fonts/Shabnam-Bold.ttf");
    src: url("/assets/fonts/Shabnam-Bold.woff");
  }

  @font-face {
    font-family: 'shabnamLight';
    src: url("/assets/fonts/Shabnam-Light.ttf");
    src: url("/assets/fonts/Shabnam-Light.woff");
  }

  @font-face {
    font-family: 'shabnam';
    src: url("/assets/fonts/Shabnam.ttf");
    src: url("/assets/fonts/Shabnam.woff");
  }

  @font-face {
    font-family: 'shabnamBoldFa';
    src: url("/assets/fonts/FarsiDigits/Shabnam-Bold-FD.ttf");
    src: url("/assets/fonts/FarsiDigits/Shabnam-Bold-FD.woff");
  }

  @font-face {
    font-family: 'shabnamLightFa';
    src: url("/assets/fonts/FarsiDigits/Shabnam-Light-FD.ttf");
    src: url("/assets/fonts/FarsiDigits/Shabnam-Light-FD.woff");
  }

  @font-face {
    font-family: 'shabnamFa';
    src: url("/assets/fonts/FarsiDigits/Shabnam-FD.ttf");
    src: url("/assets/fonts/FarsiDigits/Shabnam-FD.woff");
  }

  /*poppines fonts*/
  @font-face {
    font-family: 'poppinsBold';
    src: url("/assets/fonts/Poppins-Bold.ttf");
  }

  @font-face {
    font-family: 'poppinsMedium';
    src: url("/assets/fonts/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: 'poppinsLight';
    src: url("/assets/fonts/Poppins-Light.ttf");
  }

  @font-face {
    font-family: 'arialBlack';
    src: url("/assets/fonts/ariblk.ttf");
  }
}

html, body {
  box-sizing: border-box;
}
